body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #333;
    color: #f4f4f4;
}

div {
    width: 300px;
    background-color: teal;
    height: 400px;
    margin: auto;
    text-align: center;
    border-radius: 5px;
}

h1 {
    font-weight: bold;
    padding-top: 20px;
}

p {
    font-weight: bold;
    padding: 5px;
}

button {
    padding: 0.5rem 1.5rem;
    color: #f4f4f4;
    background-color: #333;
    border-radius: 5px;
    display: block;
    margin: 5px auto;
}