/* CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
html, body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a {
    text-decoration: none;
    color: #333;
}

h1,h2,h3 {
    margin-bottom: 10px;
}

p {
    margin: 10px 0px;
}

/* Utility class */
.container {
    max-width: 1300px;
    margin: auto;
    padding: 0px 20px;
    overflow: auto;
}

.clr {
    clear: both;
}

.text-primary {
    color: #f7c08a;
}

.btn {
    display: inline-block;
    color: #fff;
    font-size: 17px;
    background-color: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #f7c08a;
    color: #333;
}

.btn-light {
    display: inline-block;
    background-color: #fff;
    padding: 10px 20px;
    border: none;
}

.btn-light:hover {
    background-color: #333;
    color: #fff;
}

.bg-dark {
    background-color: #000;
    color: #fff;
}

.bg-light {
    background-color: #f4f4f4;
    color: #333;
}

.bg-primary {
    background-color: #f7c08a;
    color: #333;
}

/* Navbar */
#navbar {
    background-color: #000;
    overflow: auto;
}

#navbar a {
    color: #fff;
}

#navbar h1 {
    float: left;
    padding-top : 20px;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
}

#navbar ul li a:hover,
#navbar ul li a.current {
    background-color: #333;
    color: #f7c08a;
}

/* Showcase */
#showcase {
    background: url(../img/showcase.jpg) no-repeat center center/cover;
    height: 700px;
}

#showcase .showcase-content {
    color: #fff;
    text-align: center;
    padding: 266.81px 0px;
}

#showcase .showcase-content h1 {
    font-size: 60px;
    line-height: 1.2em;
}

#showcase .showcase-content-text {
    font-size: 18px;
}

/*Home History section*/
#home-history {
    height: 500px;
}

#home-history .home-history-img {
    width: 50%;
    float: left;
    background: url('../img/photo-1.jpg') no-repeat center center/cover;
    min-height: 100%;
}

#home-history .home-history-text {
    float: right;
    width: 50%;
    min-height: 100%;
    text-align: center;
    padding: 162.03px 30px;
    overflow: hidden;
}

#home-history .home-history-text p {
    font-size: 14px;
}

#home-history .home-history-text a {
    padding: 10px;
}

/* Features */
#features {
    height: 350px;
}

#features .feature-box {
    float: left;
    width: 25%;
    height: 100%;
    text-align: center;
    padding: 73.81px 40px;
}

#features .feature-box h3 {
    margin-top: 10px;
}

#features .feature-box i {
    margin-top: 10px;
}

/* Footer */
#main-footer {
    background-color: #000;
    padding: 20px 0px;
}

#main-footer p {
    text-align: center;
}

/*About Page*/
/*About Info*/
.about-info-text {
    float: left;
    width: 50%;
    min-height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.about-info-text p {
    text-align: justify;
}

#about-info .about-info-img {
    float: right;
    width: 50%;
    min-height: 100%;
}

#about-info .about-info-img img {
    display: block;
    width: 60%;
    margin: 20px auto;
    border-radius:50%;
}

/* Reviews */
#reviews {
    height: 600px;
    background: url('../img/test-bg.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 107.65px 0px;
}

#reviews h2 {
    text-align: center;
}

#reviews .review-box {
    max-width: 100%;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

#reviews .review-box img {
    display: block;
    width: 100px;
    margin: 10px;
    padding: 10px;
    float: left;
    border-radius: 50%;

}

#reviews .review-box p {
    text-align: left;
}

/*Contact page*/
#contact-form .container {
    margin-top: 10px;
    margin-bottom: 10px;
} 

#contact-form h1 {
    margin-top: 10px;
}

form .form-group label {
    display: block;
}

form .form-group input,
form .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
}

form .form-group input:focus,
form .form-group textarea:focus {
    outline: none;
    border-color: #f7c08a;
}

#contact-details .feature-box1 {
    float: left;
    min-width: 33.3%;
    padding: 20px;
    text-align : center;
}






