* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

#navbar ul {
    list-style: none;
}

#navbar ul li {
    position: relative;
    display: inline-block;
    color: #333;
    padding: 0.5rem;
    
}

#navbar ul li a {
    color: #333;
    text-decoration: none;
}

/*Hide nested ul by li*/
#navbar ul li ul {
    display: none;
}

#navbar ul li:hover {
    cursor: pointer;
    background: coral;
    color: #fff;
}

#navbar ul li:hover a {
    color: #fff;
}

/*Nested dropdown show*/
#navbar ul li:hover ul {
    display: block;
    position: absolute;
    left: 0;
    width: 200px;
    margin-top: 0.5rem;
}

#navbar ul li:hover ul li {
    display: block;
    background: #e7e7e7;
}

#navbar ul li:hover ul li a {
    color: #333;
}

#navbar ul li:hover ul li:hover {
    background: #e0e0e0;
    color: inherit;
}

#navbar ul li:hover ul li span {
    float: right;
    color: #fff;
    background-color: coral;
    padding: 0.125rem 0.25rem;
    border-radius: 5px;
    text-align: center;
}

#navbar ul li:hover ul li span:hover {
    background-color: chocolate;
}

#showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: coral;
}

#showcase h1 {
    color: #fff;
    font-size: 3rem;
}

@media(max-width: 600px) {
    #navbar ul li {
        display: block;
    }

    #navbar ul li:hover ul {
        width: 100%;
        position: relative;
    }
}