* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #344a72;
}

a {
    text-decoration: none;
}

.container {
    max-width: 350px;
    max-height: 50%;
    margin: 30px auto;
}

footer p {
    color: #fff;
}

footer p a {
    color: lightgreen;
}

.form {
    background-color: #f4f4f4;
    padding: 15px 30px;
    margin-bottom: 5px;
}

.form div,h1,p,form,button {
    margin-bottom : 10px;
}

.form h1,p {
    text-align: center;
}

.bottom-text p {
    text-align: justify;
    font-size: 13px;
}

.label {
    font-weight: lighter;
}

.input {
    width: 100%;
    margin-bottom: 5px;
}

.btn {
    width: 100%;
    background-color: lightgreen;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}





